@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #efc59b;
}

.btn {
  all: unset;
}

.btn-style {
  padding: 0.5em 1.3em;
  border-radius: 1rem;
  border: 1px solid #000;
  transition: all 0.5s;
}

.btn-style:hover {
  transform: translateX(-15px);
  transition: all 0.4s;
  background-color: #9f70fd;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

img {
  border-radius: 20px;
}

.image-1 {
  height: auto;
  width: 400px;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.image-2 {
  height: auto;
  width: 400px;
  position: absolute;
  z-index: 0;
  object-fit: cover;
}

.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(280px);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  font-size: 20px;
  transition: all 0.5s;
  transform: translateY(570px);
}

#paragraph {
  border: 1px solid #000000;
  padding: 15px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  color: #2d2929b9;
}

@keyframes fade {
  to {
    opacity: 1;
  }
  from {
    opacity: 0.3;
  }
}

.hidden {
  display: none;
  transform: translateX(50px);
  text-align: center;
  width: 30%;
  margin: 0 auto;
  animation-name: fade;
  animation-duration: 0.9s;
  font-size: 20px;
}

p {
  position: absolute;
}

#paragraph2 {
  border: 1px solid #000000;
  padding: 15px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
}
